/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --l-weight: 700;
    --s-weight: 400;
    --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    --bg-color: #fff;
    --button-color: #fff;
    --accent-color: #000;
    --outline-color: #fff;
    --main-color-heart: #F00;
    --accent-color-heart: #000;
}
